## Project Description:

This project is a beginner-friendly data analysis task focused on the Zomato food delivery dataset, using only the Pandas library in Python. The goal is to apply foundational skills in data handling, cleaning, and summarization using Pandas — without any external libraries or advanced tools.
The dataset simulates real-world sales information such as food items, restaurants, prices, quantities, and order details. The project answers essential business questions such as:

Q. What are the most popular food items?


Q. Which restaurants earn the most?


Q. What is the total revenue generated?


Q. Which cities or payment methods are used the most?

The analysis involves loading the dataset, cleaning and preparing the data, creating new columns like total bill amount, and using group-by and aggregation techniques to draw insights — all using Pandas.


1. Load and inspect a CSV file using Pandas.


2. Clean and format the dataset (e.g., date conversion).


3. Add a new column to calculate total order value.


4. Analyze total revenue, top food items, and top restaurants.


5. Identify trends in cities and payment methods.


6. Export the cleaned dataset to a new CSV file.

Key Analysis Tasks:

In [1]:
## 1. Load dataset using read_csv():

import pandas as pd
df = pd.read_csv("zomato_sales1.csv")
df.head(8)

,Order_ID,Customer_Name,Restaurant_Name,Food_Item,Price,Quantity,Order_Date,City,Payment_Method
0,101,Amit,Spice Villa,Burger,120,2,2025-01-10,Mumbai,UPI
1,102,Sara,Foodie's Hub,Pizza,250,1,2025-01-12,Delhi,Card
2,103,John,Pizza Point,Pasta,180,3,2025-02-15,Bangalore,Cash
3,104,Riya,Spice Villa,Burger,120,1,2025-02-18,Mumbai,Cash
4,105,Mohit,Foodie's Hub,Fries,80,2,2025-03-10,Delhi,UPI
5,106,Ali,Pizza Point,Pizza,250,2,2025-03-12,Bangalore,Card
6,107,Neha,Curry House,Curry,200,1,2025-04-01,Hyderabad,Cash
7,108,David,Spice Villa,Burger,120,1,2025-04-05,Mumbai,UPI

In [68]:
## 2. Convert Order_Date column to datetime format: 

import pandas as pd

df[' Order_Date'] = pd.to_datetime(df[' Order_Date'])
print(df.dtypes)

Order_ID                     int64
 Customer_Name              object
 Restaurant_Name            object
 Food_Item                  object
 Price                       int64
 Quantity                    int64
 Order_Date         datetime64[ns]
 City                       object
 Payment_Method             object
Total                        int64
dtype: object

In [ ]:
## 3. Create a new column Total = Price * Quantity:

df = pd.read_csv("zomato_sales1.csv")
df['Total'] = df.apply(lambda x: x[' Price'] * x[' Quantity'], axis=1)
df

,Order_ID,Customer_Name,Restaurant_Name,Food_Item,Price,Quantity,Order_Date,City,Payment_Method,Total
0,101,Amit,Spice Villa,Burger,120,2,2025-01-10,Mumbai,UPI,240
1,102,Sara,Foodie's Hub,Pizza,250,1,2025-01-12,Delhi,Card,250
2,103,John,Pizza Point,Pasta,180,3,2025-02-15,Bangalore,Cash,540
3,104,Riya,Spice Villa,Burger,120,1,2025-02-18,Mumbai,Cash,120
4,105,Mohit,Foodie's Hub,Fries,80,2,2025-03-10,Delhi,UPI,160
5,106,Ali,Pizza Point,Pizza,250,2,2025-03-12,Bangalore,Card,500
6,107,Neha,Curry House,Curry,200,1,2025-04-01,Hyderabad,Cash,200
7,108,David,Spice Villa,Burger,120,1,2025-04-05,Mumbai,UPI,120

In [93]:
## 4. Calculate total revenue using df['Total'].sum(): 
 
df = pd.read_csv("zomato_sales1.csv")

df['Total'] = df.apply(lambda x: x[' Price'] * x[' Quantity'], axis=1)
print(df['Total'].sum())

2130

In [104]:
## 5. Find the most ordered food item using groupby():

Most_Ordered = df.groupby(' Food_Item').size().sort_values(ascending=False).head(1)

print(f"The most ordered food item is:\n {Most_Ordered}")

The most ordered food item is:
  Food_Item
Burger    3
dtype: int64

In [105]:
## 6. Find top 5 restaurants by total revenue:

df.groupby('Total').sum().head()

,Order_ID,Customer_Name,Restaurant_Name,Food_Item,Price,Quantity,Order_Date,City,Payment_Method
Total,,,,,,,,,
120,212,Riya David,Spice Villa Spice Villa,Burger Burger,240,2,2025-02-18 2025-04-05,Mumbai Mumbai,Cash UPI
160,105,Mohit,Foodie's Hub,Fries,80,2,2025-03-10,Delhi,UPI
200,107,Neha,Curry House,Curry,200,1,2025-04-01,Hyderabad,Cash
240,101,Amit,Spice Villa,Burger,120,2,2025-01-10,Mumbai,UPI
250,102,Sara,Foodie's Hub,Pizza,250,1,2025-01-12,Delhi,Card

In [65]:
## 7. Count total orders per city:

df.groupby(' City').count()

,Order_ID,Customer_Name,Restaurant_Name,Food_Item,Price,Quantity,Order_Date,Payment_Method,Total
City,,,,,,,,,
Bangalore,2,2,2,2,2,2,2,2,2
Delhi,2,2,2,2,2,2,2,2,2
Hyderabad,1,1,1,1,1,1,1,1,1
Mumbai,3,3,3,3,3,3,3,3,3

In [71]:
## 8. Identify most used payment methods:

Most_used_pay_method = df[' Payment_Method'].value_counts().idxmax()
print(f"The most used payment method is: {Most_used_pay_method}")

The most used payment method is:  UPI

In [ ]:
## 9. Extract month from Order_Date for monthly trend:

df[' Order_Date'] = pd.to_datetime(df[' Order_Date'])
df['Month'] = df[' Order_Date'].dt.month
df

,Order_ID,Customer_Name,Restaurant_Name,Food_Item,Price,Quantity,Order_Date,City,Payment_Method,Total,Month
0,101,Amit,Spice Villa,Burger,120,2,2025-01-10,Mumbai,UPI,240,1
1,102,Sara,Foodie's Hub,Pizza,250,1,2025-01-12,Delhi,Card,250,1
2,103,John,Pizza Point,Pasta,180,3,2025-02-15,Bangalore,Cash,540,2
3,104,Riya,Spice Villa,Burger,120,1,2025-02-18,Mumbai,Cash,120,2
4,105,Mohit,Foodie's Hub,Fries,80,2,2025-03-10,Delhi,UPI,160,3
5,106,Ali,Pizza Point,Pizza,250,2,2025-03-12,Bangalore,Card,500,3
6,107,Neha,Curry House,Curry,200,1,2025-04-01,Hyderabad,Cash,200,4
7,108,David,Spice Villa,Burger,120,1,2025-04-05,Mumbai,UPI,120,4

In [86]:
## 10. Group by month to see monthly revenue:

Monthly_Revenue = df.groupby('Month')['Total'].sum()
print(Monthly_Revenue)

Month
1    490
2    660
3    660
4    320
Name: Total, dtype: int64

In [88]:
## The final table modified through this project will look like this:

df

,Order_ID,Customer_Name,Restaurant_Name,Food_Item,Price,Quantity,Order_Date,City,Payment_Method,Total,Month
0,101,Amit,Spice Villa,Burger,120,2,2025-01-10,Mumbai,UPI,240,1
1,102,Sara,Foodie's Hub,Pizza,250,1,2025-01-12,Delhi,Card,250,1
2,103,John,Pizza Point,Pasta,180,3,2025-02-15,Bangalore,Cash,540,2
3,104,Riya,Spice Villa,Burger,120,1,2025-02-18,Mumbai,Cash,120,2
4,105,Mohit,Foodie's Hub,Fries,80,2,2025-03-10,Delhi,UPI,160,3
5,106,Ali,Pizza Point,Pizza,250,2,2025-03-12,Bangalore,Card,500,3
6,107,Neha,Curry House,Curry,200,1,2025-04-01,Hyderabad,Cash,200,4
7,108,David,Spice Villa,Burger,120,1,2025-04-05,Mumbai,UPI,120,4

## Expected Output:

1. A cleaned dataset with a new Total column and a Month column.

2. Insights about top food items, best restaurants, and customer habits.

3. A new CSV file with cleaned and processed data.

4. A well-commented Python script using only Pandas functions.